create table flights(
    flight_id serial primary key,
    flight_name varchar(100),
    available_seat int
);

create table bookings(
    booking_id serial primary key,
    flight_id int references flights(flight_id),
    customer_name varchar(100)
);

insert into flights(flight_name, available_seat)
values ('VN123', 3), ('VN456', 2);

create or replace procedure book_flight(p_flight_id int, p_flight_name varchar(100), cus_name varchar(100))
language plpgsql
as $$
    declare
        rec record;
    begin
        begin
            select * into rec
            from flights
            where flight_id = p_flight_id and flight_name = p_flight_name;
            if not found then
                raise exception 'Không tìm thấy chuyến bay';
            end if;
            if rec.available_seat < 1 then
                raise exception 'Không đủ số ghế để dặt';
            end if;
            insert into bookings(flight_id, customer_name)
            values (p_flight_id, cus_name);
            update flights
            set available_seat = available_seat - 1
            where flight_id = p_flight_id and flight_name = p_flight_name;

--             commit;
            exception
            when others then
--             rollback;
            raise;
        end;
    end;
$$;

call book_flight(1, 'VN123', 'Nguyen Van A');
call book_flight(4, 'VN123', 'Nguyen Van B');

select * from bookings;
select * from flights;