create table accounts2(
    account_id serial primary key,
    owner_name varchar(100),
    balance numeric(10, 2)
);

insert into accounts2(owner_name, balance)
values ('A', 500.00),
       ('B', 300.00);


create or replace procedure transactions(p_send_id int, p_receiver_id int, money numeric(10, 2))
language plpgsql as $$
    begin
        declare
            cnt int;
            p_balance_send numeric(10,2);
            p_balance_receiver numeric(10, 2);
        begin
            select count(account_id) into cnt
            from accounts2
            where account_id = p_send_id or account_id = p_receiver_id;
            if cnt < 2 then
                raise exception 'Không có tài khoản có mã % hoặc mã % để chuyển tiển', p_send_id, p_receiver_id;
            end if;
            select balance into p_balance_send from accounts2 where account_id = p_send_id;
            select balance into p_balance_receiver from accounts2 where account_id = p_receiver_id;
            if p_balance_send < money then
                raise exception 'Tài khoản có mã % không đủ tiền', p_send_id;
            end if;
            update accounts2
            set balance = balance - money
            where account_id = p_send_id;
            update accounts2
            set balance = balance + money
            where account_id = p_receiver_id;
            commit;
            exception
            when others then
                rollback;
            raise;
        end;
    end;
$$;

call transactions(1, 2, 100.00);
call transactions(3, 4, 10);
call transactions(1,2, 1000.00);
select * from accounts2;