create table products(
    product_id serial primary key,
    product_name varchar(100),
    stock int,
    price numeric(10, 2)
);

INSERT INTO products (product_name, stock, price)
VALUES
    ('Laptop Gaming ASUS', 10, 2500),
    ('Chuột Logitech G502', 50, 1200),
    ('Bàn phím cơ AKKO', 30, 1500),
    ('Màn hình Dell UltraSharp', 15, 850),
    ('Tai nghe Sony WH-1000XM5', 20, 650);

insert into products(product_name, stock, price)
values ('AAAA', 0, 0);

create table orders(
    order_id serial primary key,
    customer_name varchar(100),
    total_amount numeric(10, 2),
    created_at timestamp default now()
);

create table order_item(
    order_item_id serial primary key,
    order_id int references orders(order_id),
    product_id int references products(product_id),
    quantity int,
    subtotal numeric(10, 2)
);

create or replace procedure buy_product(
    p_cus_name varchar(100),
    p_product_id_1 int, quantity_pro_1 int,
    p_product_id_2 int , quantity_pro_2 int
)
language plpgsql as $$
    begin
        declare
            p_order_id int;
            p_stock_1 int;
            p_price_product_1 numeric(10, 2);
            p_stock_2 int;
            p_price_product_2 int;
        begin
            select stock, price into p_stock_1, p_price_product_1 from products where product_id = p_product_id_1;
            if p_stock_1 < quantity_pro_1 then
                raise exception 'Sản phẩm có mã % đã hết hàng !', p_product_id_1;
            end if;
            update products
            set stock = p_stock_1 - quantity_pro_1
            where product_id = p_product_id_1;
            insert into orders(customer_name, total_amount)
            values(p_cus_name, null)
            returning order_id into p_order_id;
            insert into order_item(order_id, product_id,quantity, subtotal)
            values (p_order_id, p_product_id_1, quantity_pro_1, p_price_product_1 * quantity_pro_1);

            select stock, price into p_stock_2, p_price_product_2 from products where product_id = p_product_id_2;
            if p_stock_2 < quantity_pro_2 then
                raise exception 'Sản phẩm có mã % đã hết hàng !', p_product_id_2;
            end if;
            update products
            set stock = p_stock_2 - quantity_pro_2
            where product_id = p_product_id_2;
            update orders
            set total_amount = p_price_product_1 * quantity_pro_1 +
                               p_price_product_2 * quantity_pro_2
            where order_id = p_order_id;
            insert into order_item(order_id, product_id, quantity, subtotal)
            values (p_order_id, p_product_id_2, quantity_pro_2, p_price_product_2 * quantity_pro_2);

            exception
            when others then
            raise;
        end;
    end;
$$;

call buy_product('Nguyen Van A', 1, 2, 2, 1);
call buy_product('Nguyen Van Teo', 6, 10, 2, 100);

select * from products;
select * from orders;
select * from order_item;