create table accountss
(
    account_id    serial primary key,
    customer_name varchar(100),
    balance       numeric(12, 2)
);

INSERT INTO accountss (customer_name, balance)
VALUES ('Nguyễn Văn A', 1500.50),
       ('Trần Thị B', 27500.00),
       ('Lê Hoàng C', 500.25),
       ('Phạm Minh D', 12000.75),
       ('Đỗ Thanh E', 890.00);

create table transactionss
(
    tran_id    serial primary key,
    account_id int references accountss (account_id),
    amount     numeric(12, 2),
    tran_type  varchar(100) check (tran_type in ('withdraw', 'deposit')),
    create_at  timestamp default now()
);

create or replace procedure withdraw(p_acc_id int, money numeric(12, 2))
    language plpgsql as
$$
begin
    declare
        p_balance numeric(12, 2);
    begin
        select balance into p_balance from accountss where account_id = p_acc_id;
        if p_balance < money then
            raise exception 'Tài khoản có mã % không đủ tiền để rút.', p_acc_id;
        end if;
        update accountss
        set balance = p_balance - money
        where account_id = p_acc_id;
        insert into transactionss(account_id, amount, tran_type)
        values (p_acc_id, money, 'withdraw');
    exception
        when others then
            raise;
    end;
end;
$$;

select * from accountss;
select * from transactionss;

call withdraw(1, 100.00);
call withdraw(10, 100.00);