create table se11.accounts(
    account_id serial primary key,
    owner_name varchar(100),
    balance numeric(10, 2),
    status varchar(10) default 'active'
);

INSERT INTO se11.accounts (owner_name, balance)
VALUES
    ('Nguyen Trung Tuan', 1000.00),
    ('Nguyen Thi Ngoc Tram', 2000.00);

create table se11.transactions(
    trans_id serial primary key,
    from_account int references accounts(account_id),
    to_account int references accounts(account_id),
    amount numeric(12, 2),
    status varchar(20) default 'pending',
    created_at timestamp default now()
);

create or replace procedure trans(p_from_acc int, p_to_acc int, money numeric(10, 2))
language plpgsql as $$
    begin
        declare
            r record;
            p_acc_cnt int;
            p_balance numeric(10, 2);
            p_status varchar(10);
        begin
            select account_id into r
            from accounts
            where account_id in (p_from_acc,  p_to_acc)
            order by account_id
            for update;
            select count(account_id) into p_acc_cnt from accounts
            where account_id in(p_from_acc, p_to_acc);
            if p_acc_cnt != 2 then
                raise exception 'Không tồn tại tài khoản !';
            end if;
            select status, balance into p_status, p_balance
            from accounts
            where account_id = p_from_acc;
            if p_status != 'active' then
                raise exception 'Tài khoản % không hoạt động !', p_from_acc;
            end if;
            if p_balance < money then
                raise exception 'Tài khoản % không đủ số dư !', p_from_acc;
            end if;
            update accounts
            set balance = p_balance - money
            where account_id = p_from_acc;
            update accounts
            set balance = balance + money
            where account_id = p_to_acc;

            insert into transactions(from_account, to_account, amount , status)
            values (p_from_acc, p_to_acc, money, 'completed');

            exception
            when others then
            raise;
        end;
    end;
$$;

call trans(1, 2, 500);
select * from accounts;
select * from transactions;